# Environment Variables Example

# Server Configuration
PORT=3000
NODE_ENV=development

# Database Configuration
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=your_password_here
DB_NAME=whatsapp_messages
DB_PORT=3306

# WhatsApp Configuration
WHATSAPP_SESSION_DATA_PATH=./whatsapp-session

# WhatsApp RemoteAuth Configuration
USE_REMOTE_AUTH=false
MONGODB_URI=mongodb+srv://<db_username>:<db_password>@cluster0.nqhu9.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0

# Attachment Configuration
ATTACHMENT_PATH=/Users/apple1/Downloads/WHATSAPP_DOCS/